@import url('https://fonts.googleapis.com/css?family=Knewave|Rock+Salt');

h1 {
    font-family: 'Knewave', "Brush Script MT", Arial, Helvetica, sans-serif;
    padding: 5px 5px 20px;
    font-size: 3em;
}

#game-space {
    font-family: 'Rock Salt', "Brush Script MT", Arial, Helvetica, sans-serif;
}