@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt');

body {
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Permanent Marker', "Brush Script MT", Arial, Helvetica, sans-serif;
    padding: 5px 5px 20px;
    font-size: 3em;
}

#game-space {
    font-family: 'Rock Salt', "Brush Script MT", Arial, Helvetica, sans-serif;
}